.intro__list {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}