.page__intro {
  max-width: 984px;
  padding: 0 48px;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .page__intro {
    padding: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .page__intro {
    padding: 0 16px;
  }
}