.place__link {
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  max-width: 456px;
}

.place__link:hover {
  opacity: 0.7;
  transition: 0.3s ease-in;
}

@media screen and (max-width: 1023px) {
  .place__link {
    font-size: 16px;
  }
}

@media (max-width: 670px) {
  .place__link {
    padding: 0 16px;
  }
}