.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}