.place__url-heading {
  font-family: 'Inter', 'Helvetica Neue', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  margin: 0 0 12px;
  text-transform: uppercase;
}

@media (max-width: 670px) {
  .place__url-heading {
    padding: 0 16px;
  }
}